<div class="container">
  <% @post.each do |post| %>
    <p> 제목: <%= post.title %> </p>
    <p> 내용: <%= post.content %> </p>
    <p> 작성시간: <%= post.created_at %> </p>
    <% post.comments.each do |c| %>
      <%= c.content %>
    <% end %>
    <form action="/board/<%= post.id %>/comment_create" method="POST">
      <div class="form-group">
      <input type="text" name="content" class="form-control" placeholder="댓글">
      </div>
      <button type="submit" class="btn btn-default">댓글달기</button>
    </form>
    <hr/>
  <% end %>
    
  <form action="/board/create" method="POST">
    <div class="form-group">
      <input type="text" name="title" class="form-control" placeholder="제목">
    </div>
    <div class="form-group">
      <textarea class="form-control" name="content" placeholder="내용"></textarea>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
  </form>
</div>